<!DOCTYPE html>
<html>
<head>
  <title>Free Games</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  
  
</head>
<body>
<ul class="menu menu-hover-lines">
<li class="free-games"><%= link_to  'Free Games', root_path %></li>
  
      <% if signed_in? %>
      
        <li class="nav"><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %></li>
      <% else %>
        <li class="nav"><%= link_to "Sign In", new_user_session_path %></li>
        <li class="nav"><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    
  </div>
</ul>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
